.root {
  position: relative;
  width: 390.2px;
  height: 312.4px;
  align-items: flex-start;
  overflow: hidden;
}
.group {
  position: absolute;
  left: 1.1px;
  top: 0;
  width: 389.1px;
  height: 312.3px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
