.device-list button {
    display: block;
    border: none;
    color: #4277FF;
    cursor: pointer;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.device-list button::after {
    content: "";
    width: calc(100% - 12px);
    height: 1px;
    background-color: #4277FF;
    display: block;
    position: absolute;
    cursor: pointer;
}