:root {
    --orange-text-color-500: #FF7506;
    --orange-row: #FFF2E7;
    --orange-line: #FFE3CD;
}

.container {
    width: 1100px;
    height: 300px;
}

.deviceList {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.deviceList th,
.deviceList td {
    padding: 3px;
    text-align: left;
}

.deviceList th:nth-child(1),
.deviceList th:nth-child(2) {
    height: 50px;
    width: 190px;
}

.deviceList th:nth-child(3) {
    width: 190px;
}

.deviceList th:nth-child(4),
.deviceList th:nth-child(5) {
    width: 200px;
}

.deviceList th:nth-child(6) {
    width: 400px;
}

.deviceList td:nth-child(6) {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.deviceList th:nth-child(7),
.deviceList th:nth-child(8) {
    width: 100px;
}

.deviceList td:not(:first-child, :last-child),
.deviceList th:not(:first-child, :last-child) {
    border-right: 2px solid var(--orange-line);
    border-left: 2px solid var(--orange-line);
}

.deviceList th:first-child {
    border-top-left-radius: 5px;
}

.deviceList th:last-child {
    border-top-right-radius: 5px;
}

.deviceList td:first-child {
    border-bottom-left-radius: 5px;
}

.deviceList td:last-child {
    border-bottom-right-radius: 5px;
}

.deviceList th {
    background-color: var(--orange-text-color-500);
    color: #fff;
}

.deviceList tr:nth-child(even) {
    background-color: var(--orange-row);
}

.deviceList tr:nth-child(odd) {
    background-color: #fff;
}

.deviceList button {
    display: block;
    border: none;
    color: #4277FF;
    cursor: pointer;
    background-color: transparent;
    text-decoration-line: underline;
}

.dot {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
    display: inline-block;
}

.dot-green {
    background-color: green;
}

.dot-red {
    background-color: red;
}

.selectBox {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 250px;
    height: 44px;
    padding: 12px;
    background: #FFFF;
    border: 2px solid #D4D4D7;
    border-radius: 10px;
    cursor: pointer;
    background-image: url("/src/img/fi_chevron-down.svg");
    background-repeat: no-repeat, repeat;
    background-position: calc(95%) center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.selectBox:focus {
    border-color: #FF7506;
    outline: none;
}

.selectBox1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    gap: 24px;
    position: absolute;
    left: 280px;
    top: 0px;
    gap: 12px;
    width: 250px;
    height: 44px;
    padding: 12px;
    background: #FFFF;
    border: 2px solid #D4D4D7;
    border-radius: 10px;
    cursor: pointer;
    background-image: url("/src/img/fi_chevron-down.svg");
    background-repeat: no-repeat, repeat;
    background-position: calc(95%) center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.selectBox1:focus {
    border-color: #FF7506;
    outline: none;
}

.table {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 1190px;
    height: 490px;
    margin-left: -10px;
    /* Shadowbox */

    filter: drop-shadow(2px 2px 8px rgba(232, 239, 244, 0.8));
    border-radius: 12px;
}
.selectBox {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 250px;
    height: 44px;
    padding: 12px;
    background: #FFFF;
    border: 2px solid #D4D4D7;
    border-radius: 10px;
    cursor: pointer;
    background-image: url("/src/img/fi_chevron-down.svg");
    background-repeat: no-repeat, repeat;
    background-position: calc(95%) center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.selectBox:focus {
    border-color: #FF7506;
    outline: none;
}

.selectBox1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    gap: 24px;
    position: absolute;
    left: 280px;
    top: 0px;
    gap: 12px;
    width: 250px;
    height: 44px;
    padding: 12px;
    background: #FFFF;
    border: 2px solid #D4D4D7;
    border-radius: 10px;
    cursor: pointer;
    background-image: url("/src/img/fi_chevron-down.svg");
    background-repeat: no-repeat, repeat;
    background-position: calc(95%) center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.selectBox1:focus {
    border-color: #FF7506;
    outline: none;
}

.table {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 1190px;
    height: 490px;
    margin-left: -10px;
    /* Shadowbox */

    filter: drop-shadow(2px 2px 8px rgba(232, 239, 244, 0.8));
    border-radius: 12px;
}