.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.checkbox>p {
    margin: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #535261;
}