.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    padding: 0 0 0 0px;
    border-radius: 16px;
    background-color: #f6f6f6;
}

.TopBar {
    position: absolute;
    width: 1240px;
    height: 88px;
    left: 200px;
    top: 0px;

}

.text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 8px 10px 0px;
    gap: 8px;
    position: absolute;
    width: 176px;
    height: 40px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FF9138;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.chartText {
    position: absolute;
    width: 162px;
    height: 36px;
    left: 40px;
    top: 84px;

    /* 24/24 Bold */

    font-family: 'Nunito', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */


    /* Orange/$-Orange-500 */

    color: #FF7506;
}

.avatarFrame {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 172px;
    height: 42px;
    left: 1020px;
    top: 24px;
    z-index: 1;
}

.imgAvatar {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 86px;
    top: 8px;
    border-radius: 48px;
    z-index: 1;
}

.TextName {
    position: absolute;
    width: 126px;
    height: 42px;
    left: 88px;
    top: 0px;
    z-index: 1;
}

.textname {
    position: absolute;
    width: 47px;
    height: 18px;
    right: 77px;
    top: 5px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    color: #7E7D88;
    z-index: 1;
}

.name {
    position: absolute;
    width: 126px;
    height: 24px;
    right: -2px;
    top: 14px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    color: #535261;
    z-index: 1;
}

.frameBell {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 200px;
    top: 40px;
    cursor: pointer;
    background: #FFF2E7;
    border-radius: 32px;
    z-index: 1;
}

.Bell {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 6px;
    top: 6px;
    z-index: 1;
}

.frameTongQuan {
    position: absolute;
    width: 354px;
    height: 100vh;
    left: 1115px;
    top: 0px;

    /* White */

    background: #FFFFFF;
    /* Dropdown */

    box-shadow: 0px 4px 6px rgba(219, 219, 219, 0.5);
    border-radius: 8px 0px 0px 8px;
    z-index: 0;
}

.FrameChart {
    position: absolute;
    width: 790px;
    height: 128px;
    left: 54px;
    top: 156px;
    border-radius: 12px;
    display: flex;
    align-items: center;
}

.Chart1 {
    position: relative;
    width: 186px;
    height: 120px;
    background: #FFFFFF;
    border-radius: 10px;
}

.Chart2 {
    position: relative;
    width: 186px;
    height: 120px;
    background: #FFFFFF;
    border-radius: 10px;
}

.Chart3 {
    position: relative;
    width: 186px;
    height: 120px;
    background: #FFFFFF;
    border-radius: 10px;
}

.Chart4 {
    position: relative;
    width: 186px;
    height: 120px;
    background: #FFFFFF;
    border-radius: 10px;
}

.Chart2 {
    margin-left: 50px;
}

.Chart3 {
    margin-left: 50px;
}

.Chart4 {
    margin-left: 50px;
}

.Chartchart {
    position: absolute;
    width: 791px;
    height: 384px;
    left: 54px;
    top: 288px;
    background-color: #FFFFFF;
    /* Pink shadow */
    border-radius: 15px;
    filter: drop-shadow(2px 2px 15px rgba(70, 64, 67, 0.1));

}

.IconChart {
    position: absolute;
    left: 12px;
    top: 8px;
}

.textChart {
    position: absolute;
    width: 60px;
    height: 36px;
    left: 72.02px;
    top: 2px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #535261;
}

.numberChart {
    position: absolute;
    width: 108px;
    height: 45px;
    left: 12px;
    top: 38px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;

    color: #535261;
}

.dataChart {
    position: absolute;
    width: 48px;
    height: 14.98px;
    left: 100px;
    top: 86px;

}

.textChart2 {
    position: absolute;
    width: 72px;
    height: 36px;
    left: 72.02px;
    top: 2px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;

    color: #535261;

}

.textTongQuan {
    position: absolute;
    width: 118px;
    height: 36px;
    left: 24px;
    top: 104px;

    /* 24/24 Bold */

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */


    /* Orange/$-Orange-500 */

    color: #FF7506;
}

.frameThietBi {
    position: absolute;
    width: 310px;
    height: 83px;
    left: 25px;
    top: 156px;

    /* White */

    background: #FF7506;
    box-shadow: 2px 2px 15px rgba(70, 64, 67, 0.1);
    border-radius: 12px;

}

.frameDichVu {
    position: absolute;
    width: 310px;
    height: 83px;
    left: 25px;
    top: 251px;

    /* White */

    background: #FF7506;
    box-shadow: 2px 2px 15px rgba(70, 64, 67, 0.1);
    border-radius: 12px;
}

.frameCapSo {
    position: absolute;
    width: 310px;
    height: 83px;
    left: 25px;
    top: 346px;

    /* White */

    background: #FF7506;
    box-shadow: 2px 2px 15px rgba(70, 64, 67, 0.1);
    border-radius: 12px;
}

.frameDatePicker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 10px;

    position: absolute;
    width: 290px;
    height: 255px;
    left: 24px;
    top: 445px;

    background: #FFFFFF;
    /* Pink shadow */

    box-shadow: 2px 2px 15px rgba(70, 64, 67, 0.1);
    border-radius: 12px;
}
